@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.hero {
  .hero_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hero_content {
      margin-bottom: 100px;
      h1 {
        color: $accent-color;
        font-size: 96px;
        text-align: center;
      }
      p {
        text-align: center;
        font-size: 24px;
      }
      .hero_btn {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        .btn_light {
          color: $text-main;
          border: 3px solid;
          padding: 30px 100px;
          font-size: 24px;
        }
        .btn_dark {
          color: $text-main;
          border: 3px solid $accent-color;
          padding: 30px 100px;
          font-size: 24px;
        }
      }
    }
  }
}
